# SPDX-License-Identifier: Apache-2.0

config BOARD_MPFS_ICICLE
	bool "Microsemi PolarFire SoC ICICLE kit"
	depends on SOC_MPFS
	select 64BIT
    select SCHED_IPI_SUPPORTED
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select RISCV_PMP
	select ARCH_HAS_USERSPACE
	select ARCH_HAS_STACK_PROTECTION if PMP_STACK_GUARD
	select USERSPACE
	select PMP_STACK_GUARD
